.main {
  composes: container from global;
}
.about {
  display: grid;
  grid-template-columns: 400px 1fr;
  column-gap: 2rem;
}
.avatarWrapper {
  display: flex;
  justify-content: center;
  height: 180px;
}
.avatar {
  composes: rounded-full from global;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  border-color: white;
  border-style: solid;
  border-width: 5px;
  overflow: hidden;
  margin-top: -50px;
}
.blank {
  height: 100px;
  background-color: var(--gray-100);
}
.bio {
  background-color: var(--gray-100);
  text-align: center;
}
.address {
  background-color: var(--gray-100);
  text-align: center;
}
.phone {
  background-color: var(--gray-100);
  text-align: center;
}
.email {
  background-color: var(--gray-100);
}
.socialMedia {
  background-color: var(--gray-100);
}
.iconWithText {
  display: flex;
  align-items: center;
  justify-content: center;
}
.iconWithText :first-child {
  margin-right: 0.3rem;
}
.content {
  margin-top: 2rem;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
.mapWrapper {
  width: 100%;
  height: 400px;
}
.map {
  width: 100%;
  height: 100%;
}
