.header {
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  width: 100%;
  color: white;
}
.navBar {
  composes: container from global;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
}
.navBarLeft {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  column-gap: 1rem;
  align-items: center;
}
.logo {
  display: none;
}
.navLinks {
  display: none;
}
.active {
  composes: font-medium from global;
  composes: rounded-full border-2 from global;
  border-color: white;
  border-style: solid;
  background-color: var(--purple);
  padding: 2px 8px;
}
@media screen and (min-width: 640px) {
  .burgerButton {
    display: none;
  }
  .navLinks {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    column-gap: 0.5rem;
    align-items: center;
  }
}
