.quotes {
  composes: container from global;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
}
.quoteOdd {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "autorImage" "quoteContent";
}
.quoteEven {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "autorImage" "quoteContent";
}
.autorImageWrapper {
  grid-area: autorImage;
}
.autorImage {
  position: relative;
  width: 100%;
  height: 200px;
}
.quoteContent {
  grid-area: quoteContent;
}
@media screen and (min-width: 640px) {
  .quotes {
    max-width: 50%;
  }
  .quoteOdd {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto;
    column-gap: 1rem;
    grid-template-areas: "autorImage quoteContent";
  }
  .quoteEven {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-rows: auto;
    column-gap: 1rem;
    grid-template-areas: "quoteContent autorImage";
  }
}
